:root {
    --bg-0: #f8fafc;
    --bg-1: #f1f5f9;
    --bg-2: #e2e8f0;
    --bg-3: #cbd5e1;

    --red-0: red;   
}

body {
    background-color: var(--bg-0);
    margin: 0 !important;
    padding: 0 !important;

    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

header {
    background-color: var(--bg-3);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

main {
    background-color: var(--bg-3);
    min-height: calc(100vh - 80px - 1rem);
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}


h1, h5 {
    margin-top: 0 !important;
}

form {
    margin: 0;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none;
    list-style-position: outside;
}

p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.login-container {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.space-y>*+* {
    margin-top: .5rem !important;
}

.space-x>*+* {
    margin-left: .5rem !important;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 !important;
}

.product-card-image {
    width: 100%;
    height: 100%;
}

.product-card-image-container {
    aspect-ratio: 1/1;
}

.product-card {
    margin: .5rem;
    width: 200px;
    background-color: var(--bg-2);
}

.product-attributes {
    margin: .5rem 0 !important;
    font-size: small;
}

.search {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

/* PRODUCT */
.product-images {
    width: 70%;
}

.product-image-container {
    position: relative;
    max-width: 100%;
    background-color: var(--bg-0);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-list {
    height: 150px;
    width: 100%;
    overflow-x: auto;
    display: flex;
}

.image-container {
    background-color: var(--bg-0);
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-height: 100%;
    max-width: 100%;
}

/* END */

.product-info {
    width: 30%;
    background-color: var(--bg-2);
    padding: .5rem !important;
    font-size: 1.05rem;
    line-height: 175%;
}

.product-info form {
    /* background-color: rebeccapurple; */
}

.product-description {
    margin-top: 1rem;
    line-height: 175%;
    font-size: 1rem;
}

.product-description ul {
    list-style-type: disc;
    list-style-position: inside;
}

.product-description >*+* {
    margin-top: 1rem !important
}

.image-focused {
    border: 2px solid red;
    box-sizing: border-box; 
}

.absolute {
    position: absolute;
    margin: .5rem;
}

.relative {
    position: relative;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.err-msg {
    color: var(--red-0);
}

.cart-number {
    position: absolute;
    font-size: small;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -20%;
    bottom: -50%;
    background-color: aqua;
    opacity: 75%;
}

.image-small {
    width: 125px;
    height: 125px;
}

.cart-item {
    display: flex;
}

.cart-prices {
    display: flex;
    flex-direction: column;
}