<!DOCTYPE html>

{% load static %}
{% load custom_filters %}

<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    {% block styles %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="header-container">
            <a id="logo" href="{% url 'home' %}">sklep</a>

            {% block midheader %}
            <form method="GET" action="{% url 'search' %}" class="search-form">
                <input required id="search" type="text" name="q" value="{{ request.GET.q }}" placeholder="czego szukasz?">
                <button type="submit">wyszukaj</button>
            </form>
            {% endblock %}

            <nav>
                <ul class="flex space-x">
                    <li>
                        <a href="{% url 'account' %}">konto</a>
                    </li>
                    <li class="relative">
                        <a href="{% url 'cart' %}">koszyk</a>
                        {% with request.session.cart|get_items_count as items_count %}
                        <div id="cart-items-count" class="cart-number {% if items_count == 0 %} hidden {% endif %}">
                            {{ items_count }}
                        </div>
                        {% endwith %}
                    </li>
                </ul>
            </nav>
        </div>

        <ul class="categories">
            {% for category in categories %}
            <li class="category-item">
                <a href="{% url 'category' category.id %}" class="category-name">{{ category.name }}</a>
                {% if category.children %}
                <ul class="category-childrens">
                    {% for child in category.children %}
                    <li class="category-item subcategory-item">{% include 'partials/category_item.html' with category=child %}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block scripts%}{% endblock %}

</body>

</html>