{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %}{{ product.name }}{% endblock %}

{% block styles %}
    <style>
        .comment-list {
            background-color: red;
            border: 2px green solid;
        }
    </style>
{% endblock %}

{% block content %}

<ul class="category-path">
    <li><a href="{% url 'home' %}">Sklep</a></li>
    {% for path in category_path %}
    <li><a href="{% url 'category' path.id %}">{{ path.name }}</a></li>
    {% endfor %}
</ul>

<h2>{{ product.name }}</h2>

<div class="flex space-x-2">

    <div class="product-images space-y">

        <div class="product-image-container">
            <button id="previous-image">&#8592;</button>
            <button id="next-image">&#8594;</button>
            <img id="big-image" class="product-image"
                src="{% if product.image_set.first.downloaded %}{{ product.image_set.first.downloaded.url }}{% else %}{{ product.image_set.first.url }}{% endif %}">
        </div>

        <ul id="image-list" class="image-list space-x">
            {% for image in product.image_set.all %}
            <li class="image-container h-100 {% if forloop.counter == 1 %} image-focused {% endif %}">
                <img class="product-image"
                    src="{% if image.downloaded %}{{ image.downloaded.url }}{% else %}{{ image.url }}{% endif %}"
                    alt="">
            </li>
            {% endfor %}
        </ul>

    </div>

    <div class="product-info">

        <ul>
            <li>cena: {{ product.price }}zl</li>
            <li>producent: {{ product.manufacturer}} </li>
            <li>produkt: {{ product.product_id }}</li>
            <li>ean: {{ product.ean }}</li>
            <li>kolor: {{ product.color }}</li>
        </ul>
        <hr>

        {% if product.id|to_string in request.session.cart %}
        <p class="err-msg">ten produkt jest juz w koszyku.</p>
        {% endif %}

        {% if product.quantity == 0 %}
        <p class="err-msg">Brak produktu w magazynie.</p>
        {% else %}

        <p>Liczba sztuk</p>

        <form id="product-form" class="space-y" method="POST" action="{% url 'cart' %}">
            {% csrf_token %}
            <fieldset class="product-quantity">
                <button id="decrement-quantity">-</button>
                <input id="product-quantity" type="number" min="1" max="{{ product.quantity }}" name="quantity"
                    value="1" required>
                <button id="increment-quantity">+</button>
                <span>z {{ product.quantity }}</span>
            </fieldset>
            <input type="number" name="product" value="{{ product.id }}" required style="display: none;">
            <button type="submit">dodaj do koszyka</button>
        </form>
        {% endif %}

    </div>

</div>

{% if product.description|length > 1 %}
<div class="product-description">
    {{ product.description|safe }}
</div>
{% endif %}

<div class="comments space-y">
    {% if comments %}
    <ul class="comment-list">
        {% for comment in comments %}
        <li class="bg-1" style="background-color: var(--bg-2);">
            <div>
                <span>{% if comment.user %}{{ comment.user }}{% else %}Anonimowy użytkownik{% endif %}</span>
                <span style="font-size: small;">{{ comment.created_at |date:'Y-m-d H:i' }}</span>
            </div>
            <p>{{ comment.text }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Brak opini</p>
    {% endif %}

    <form method="POST" action="{% url 'comment-product' product.id %}">
        {% csrf_token %}
        <textarea name="text" id="" maxlength="255"></textarea>
        <button>dodaj opinie</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'shop/js/product.js' %}"></script>
{% endblock %}