<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">

</head>

<body>
    <header>
        <a href="{% url 'home' %}">strona domowa</a>

        {% load custom_filters %}

        {% block midheader %}
        <form method="GET" action="{% url 'search' %}" class="flex">
            <input required id="search" type="text" name="q">
            <button type="submit">wyszukaj</button>
        </form>
        {% endblock %}

        <nav>
            <ul class="flex space-x">
                <li><a href="{% url 'login' %}">konto</a></li>
                <li class="relative">
                    <a href="{% url 'cart' %}">koszyk</a>
                    {% if cart|get_items_count >= 1 %}
                    <div class="cart-number">{{ cart|get_items_count }}</div>
                    {% endif %}
                </li>
            </ul>
        </nav>

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'shop/js/product.js' %}"></script>

</body>

</html>