{% extends "base.html" %}

{% block title %}Search {{ q }}{% endblock %}

{% block midheader %}

{% if page|length == 0 %}
<form method="GET" action="{% url 'search' %}" class="flex">
    <input required id="search" type="text" name="q" value="{{ q }}">
    <button type="submit">wyszukaj</button>
</form>
{% else %}
<span>milego dnia</span>
{% endif %}

{% endblock %}

{% block content %}

{% if page|length == 0 %}
<p>Brak wynikw wyszukiwania dla "{{ q }}"</p>
{% else %}

<div class="search">

    <form method="GET" action="{% url 'search' %}">
        <input type="text" name="q" value="{{ q }}">
        <select id="order" name="order_by">
            <option value="">sortowanie</option>
            <option value="price" {% if order_by == 'price' %}selected{% endif %}>cena rosnaco</option>
            <option value="-price" {% if order_by == '-price' %}selected{% endif %}>cena malejaca</option>
            <option value="name" {% if order_by == 'name' %}selected{% endif %}>A-Z</option>
            <option value="-name" {% if order_by == '-name' %}selected{% endif %}>Z-A</option>
        </select>
        <button type="submit">search</button>
    </form>

    <div class="flex space-x">
        {% if page.has_previous %}
        <a href="{% url 'search' %}?q={{ q }}&order_by={{ order_by }}&page={{ page.previous_page_number }}">&#8592;</a>
        {% endif %}
        <span class="current-page">{{ page.number }} / {{ num_pages }}</span>
        {% if page.has_next %}
        <a href="{% url 'search' %}?q={{ q }}&order_by={{ order_by }}&page={{ page.next_page_number }}">&#8594;</a>
        {% endif %}
    </div>

</div>

<ul class="product-list">
    {% for product in page %}
    <li class="product-card">
        <a href="{% url 'detail' product.id %}">
            <div class="product-card-image-container">
                <img class="product-card-image" style="max-width: 200px" src={{product.image_set.first}} alt="">
            </div>
            <h5>{{ product.name }}</h5>
            <ul class="product-attributes">
                <li>producent: {{ product.manufacturer }}</li>
                <li>produkt: {{ product.product_id }}</li>
                <li>kolor: {{ product.color }}</li>
            </ul>
            <span>{{ product.price }}zl</span>
        </a>
    </li>
    {% endfor %}
</ul>

<div class="flex-center space-x">
    {% if page.has_previous %}
    <a href="{% url 'search' %}?q={{ q }}&order_by={{ order_by }}&page={{ page.previous_page_number }}">&#8592;</a>
    {% endif %}
    <span class="current-page">{{ page.number }} / {{ num_pages }}</span>
    {% if page.has_next %}
    <a href="{% url 'search' %}?q={{ q }}&order_by={{ order_by }}&page={{ page.next_page_number }}">&#8594;</a>
    {% endif %}
</div>
{% endif %}

{% endblock %}